@font-face {
  font-family: 'iconfont';  /* Project id 5112101 */
  src: url('//at.alicdn.com/t/c/font_5112101_7hq46ujxd39.woff2?t=1768638791144') format('woff2'),
       url('//at.alicdn.com/t/c/font_5112101_7hq46ujxd39.woff?t=1768638791144') format('woff'),
       url('//at.alicdn.com/t/c/font_5112101_7hq46ujxd39.ttf?t=1768638791144') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
